/**
    Column.css
    Handles styles for:
        - Column general
        - Column container (button.container)
        - Column expanded
        - Section dividers
        - Skeleton
**/



/**************** COLUMN - GENERAL*************/

.column {
    text-align: left;
    line-height: 20px;

    padding: 0 1% 0 1%;
    
    vertical-align: top;
    margin: 20px auto 20px auto;

    display: flex;
    flex-direction: row;
    flex-grow: 1;
    float: left;
    clear: left;

    font-family: 'Lora', serif;
    font-size: 14px;
    color: #fafaf5;
}

div.container {
    height: auto;
}

.column .collapsed a {    
    color: #fafaf5 !important;
}

.column:hover .collapsed a:hover {    
    color: #636369 !important;
}

.column .collapsed :nth-child(n+5){
    display: none;
}

.column h1 {

    text-align: center;
    line-height: normal;
    
    font-family: 'Playfair Display', serif;
    display: block;
    margin: 0 auto;

    font-weight: 900;
    
    font-size: 32px;
    text-transform: uppercase;
    padding: 10px 0 10px 0;
}

.column h2 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    font-size: 24px;
    font-style: italic;
    box-sizing: border-box;
    padding: 10px 0 0 0;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.column h2:before {
    border-top: 1px solid #fafaf5;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}
.column h2:after {
    border-bottom: 1px solid #fafaf5;
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto;
}

.column:hover h2:before {
    border-color: #0c0c0d;
}

.column:hover h2:after {
    border-color: #0c0c0d;
}


.column .MuiButton-label{
    height: 100%;
    justify-content: space-between;
    padding-top: 0;
    margin-top: 0;
    vertical-align: text-top;
}

.column a {
    font-family: 'Lora', serif;
    color: #fafaf5;
    text-decoration: underline;
    transition: all .7s;
}

div.headlineImg {
    width: 100%;
    height: auto;
    display: block;
}

.headlineImg img{
    border-radius: 25px;
}

.column a:hover{
    color: #6b6b6b;
}

.column:hover a {
    color: #0c0c0d !important; 
    transition: all .7s;
}

.column:hover a:hover {
    color: #0c0c0d !important;
    background-color: none !important;
}


/* column etc */

.placeholder {
    text-align: center;
    font-style: italic;
    color: #fafaf5;
    transition: all 0.7s;
}

.container:hover .placeholder {
    color: #0c0c0d;
}


/********** BUTTON CONTAINER *************/



button.container {

    height: 100%;

    font-family: 'Lora', serif;
    font-size: 14px;
    color: #fafaf5;
    
    background-color: #000000aa;
    backdrop-filter: blur(10px);

    text-align: left;
    text-transform: none;
    font-weight: normal;
    
    transition: all 0.7s;
    padding: 20px;

    border-radius: 25px;
}

.container :after {
    transition: all 0.7s;
}

.container :before {
    transition: all 0.7s;
}

Button.container:hover {
    background-color: #ffffff88;
    backdrop-filter: blur(10px);
    
    color: #0c0c0d;   
}

Button.container img {
    width: 102%;
    position: relative;
    left: -1%;
    filter: grayscale(100%);
    transition: all .7s;
}

Button.container:hover img {
    filter: grayscale(0);
}

Button.container .imgContainer:before {
    border-top: 1px solid #fafaf5;
    content: '';
    width: 100%;
    height: 7px;
    display: block;
    margin: 0 auto;
}

Button.container:hover .imgContainer:before {
    border-color: #0c0c0d;
}

div.innerContainer {
    height: 100%;
}


/********************** COLUMN BUTTON CONTAINER ******************/


.expanded li {
    font-family: 'Roboto', sans-serif;
    color: #fafaf5;
    font-weight: 300;
    font-size: 15px;
}

.expanded h2 {
    text-transform: lowercase;
}

.expanded p.footer {
    font-size: 12px;
    padding: 20px;
    margin: 0;
    text-align: center;
}

.expanded .footer a{
    font-size: 12px;
}

.expanded p.todo {
    text-align: center;
}

.expanded a {
    font-family: 'Lora', serif;
    text-decoration: underline;
}

.expanded a:hover{
    color: #6b6b6b;
}


.expanded p {
    display: block;
}

.expanded {
    z-index: 10000;
}

.expanded img {
    width: 100%;
}


.expanded *{
    color: #0c0c0d !important;
}

.expanded p {
    font-family: 'Roboto', sans-serif;
    color: #0c0c0d;
    font-weight: 300;
    font-size: 15px;
}

.expanded h1 {
    font-family: 'Lora';
}

.expanded h1:after{
    content: '';
    display: block;
    width: 100%;
    border-bottom: 1px solid grey;
    margin-top: 10px;
    margin-bottom: 0;
}

.expanded h2{
    margin-top: 0;
    font-size: 32px;
    font-weight: 100;
}

.expanded h3 {
    font-size: 32px;
    font-weight: 100;
}

.expanded h3:after {
    display: block;
    content: '';
    border-bottom: 1px solid lightgrey;
}

.expanded h4 {
    font-size: 28px;
    text-align: center;
    font-family: 'Playfair-Display', serif;
    font-style: italic;
    font-weight: 100;
}


/* NOT WORKING */
.expanded .paperContainer::-webkit-scrollbar {
    display: none;  
}
  
/* Hide scrollbar for IE and Edge */
.expanded .paperContainer {
    -ms-overflow-style: none;
}





/********* Extra Small Rules *********/

button.extraSmall{
    margin-left: 10px;
    margin-right: 10px;
}


.extraSmall h1 {
    padding: 0;
    margin: 10px 0px 10px 0px;
    font-size: 32px;
    text-align: left;
}

.extraSmall h2{
    padding: 0;
    margin: 10px 0px 10px 0px;

    font-size: 24px;
    text-align: left;
    width: 100%;

    border-bottom: 1px solid lightgray ;
}

.extraSmall.expanded h1 {
    font-size: 32px;
}

.extraSmall.expanded h2 {
    font-size: 28px;
}

.extraSmall.expanded h1:after {
    border: none;
}

.column .extraSmall h2:before {
    text-align: left;
    border: none;
}

.column .extraSmall h2:after {
    border: none;
    width: 100%;
}

.expanded.extraSmall .MuiDialog-paper {
    margin: 40px 0px 40px 0px;
}

.expanded.extraSmall .paperContainer div{
    margin: 10px;
}

/* to explore
::-webkit-scrollbar {
    width: 10px;
    transition: all .25s;
    margin-right: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin-right: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 25px;
    margin-right: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #222;
    margin-right: 5px;
  } */
