
.headerContainer {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #fafafa;
}

.headerWrapper {
    color: "#2f2f2f";
}

.title {
    font-family: 'Olde-English', 'Playfair-Display', serif;
    font-size: 96px;
    line-height: 72px;
    margin: 15px 0 20px 0;
    color: #2f2f2f;
    background-color: #fafafa;
}

.subtitle {
    font-family: 'Lora';
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
    border-bottom: 1px solid #2f2f2f;
    border-top: 1px solid #2f2f2f;

    vertical-align: bottom;
    min-height: 33px;
}

.navbar {
    text-align: left;
}

.date {
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    padding: 6px 0 6px;

    font-family: 'Old Standard TT';
    font-size: 20px;
    font-style: italic;
    font-weight: 400;

    text-transform: none;
}

.price-block {
    vertical-align: middle;
    margin-right: 20px;

    text-transform: none;
}

.price-block p {
    display: inline-block;
    text-align: right;

    font-family: 'serif';
    font-size: 75%;
    font-weight: bold;
    line-height: 100%;
    padding: 0;

    margin: 0;

    position: relative;
    top: 5px;
}


.small div.title{
    font-size: 72px;
    line-height: 72px;
    margin: 5px;
    padding: 0;
}

.extraSmall div.title{
    font-size: 56px;
    line-height: 72px;
    margin: 0;
    padding: 0;
}