body {
    font-family: 'Lora', serif;
    color: #fafaf5 !important;
    background-color: #272729 !important;
    overflow: scroll !important;

    /* this fixes an issue where expanded menus cause whole body to shift*/
    padding-right: 0px !important;
}

a {
    font-family: 'Playfair Display';
    font-size: 14px;
    font-weight: 100;
    color: #272729 !important;
}

a:hover {
    color: #636369 !important;
}

a:active {
    color: #272729;
}

a:visited {
    color: inherit;
    background-color: #272729;
}

.debug {
    border: 1px solid red !important;
}

.fa {
    transform: scale(0.8, 0.8);
}
