body {
    color: #2f2f2f;
    background-color: #fafafa;

    font-family: 'Lora', serif;
}

a {
    font-family: 'Playfair Display';
    font-size: 14px;
    font-weight: 100;
}

a:hover {
    background-color: #2f2f2f !important;
    color: #fafafa !important;
}

a:active {
    background-color: #2f2f2f;
    color: #fafafa;
}

a:visited {
    color: #2f2f2f;
    background-color: #fafafa;
}

.expanded p {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 300;
    font-size: 15px;
}

.expanded h1 {
    font-family: 'Lora';
}

.expanded h1:after{
    content: '';
    display: block;
    width: 100%;
    border-bottom: 1px solid grey;
    margin-top: 10px;
    margin-bottom: 0;
}

.expanded h2{
    margin-top: 0;
    font-size: 32px;
    font-weight: 100;
}

.expanded h3 {
    font-size: 32px;
    font-weight: 100;
}

.expanded h3:after {
    display: block;
    content: '';
    border-bottom: 1px solid lightgrey;
}

.expanded h4 {
    font-size: 28px;
    text-align: center;
    font-family: 'Playfair-Display', serif;
    font-style: italic;
    font-weight: 100;
}
