
/************ BASE **************/
.column {
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    width: 17.5%;
    display: inline-block;
    padding: 0 1% 0 1%;
    vertical-align: top;
    margin: auto;
    margin-bottom: 20px;
    transition: all .7s;
}

.column + .column { 
  border-left: 1px solid #fafafa;
}


/************* HEAD **************/

.column .headline{
    text-align: center;
    line-height: normal;
    font-family: 'Playfair Display', serif;
    display: block;
    margin: 0 auto;
}

div.headline + div.headline:before {
    border-top: 1px solid #fafafa;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}

div.headline + div.headline:after {
    border-bottom: 1px solid #fafafa;
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto;
}


/******** HEAD STYLES **********/
/* odd are primary, even are secondary */

div.s1 {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px 0 10px 0;
}

div.s2 {
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

div.s3 {
    font-weight: 400;
    font-style: italic;
    font-size: 36px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

div.s4 {
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

div.s5 {
    font-weight: 400;
    font-size: 42px;
    text-transform: uppercase;
    font-style: italic;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

div.s6 {
    font-weight: 400;
    font-size: 18px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

div.s7 {
    font-weight: 700;
    font-size: 24px;
    box-sizing: border-box;
    display: block;
    padding: 10px 0 10px 0;
}

div.s8 {
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

/********* MEDIA CITATIONS **********/


.media {
    -webkit-filter: sepia(80%) contrast(1) opacity(0.8);
    filter: sepia(80%) grayscale(1) contrast(1) opacity(0.8);
    mix-blend-mode: multiply;
    width: 100%;
}

.column .citation{
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    line-height: 44px;
    /*font-style: italic;*/
    text-align: center;
    font-weight: 400;
    display: block;
    margin: 40px 0 40px 0;
    font-feature-settings: "liga", "dlig";

}
.column .citation:before{
    border-top: 1px solid #fafafa;
    content: '';
    width: 100px;
    height: 16px;
    display: block;
    margin: 0 auto;
}
.column .citation:after{
    border-bottom: 1px solid #fafafa;
    content: '';
    width: 100px;
    height: 16px;
    display: block;
    margin: 0 auto;
}

/*********** QUERIES *********/
@media only all and (max-width: 1600px) {
    .column{
        width: 25%;
    }

}
@media only all and (max-width: 1200px) {
    .column{
        width: 31%;
    }

}
    @media only all and (max-width: 900px) {
    .column{
        width: 47%;
    }

}
@media only all and (max-width: 600px) {
    .column{
        width: 100%;
    }
	.column + .column {
				border-left: none;
      	border-bottom: 1px solid #fafafa;
	}
    header{
        max-width: 320px;
        font-size: 60px;
        line-height: 54px;
        overflow: hidden;
    }

}